name: test

permissions: {}

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    timeout-minutes: 10
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: "false"
      - name: Setup env
        uses: ./.github/actions/setup-env
      - name: Setup go
        uses: ./.github/actions/setup-go
      - name: Lint
        run: make lint

  test-unit:
    timeout-minutes: 10
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: "false"
      - name: Setup env
        uses: ./.github/actions/setup-env
      - name: Setup go
        uses: ./.github/actions/setup-go
      - name: Create kind cluster
        uses: ./.github/actions/setup-cluster
        with:
          node_image: '${{ env.KIND_NODE_IMAGE }}'
      - name: Test
        run: make test-unit

  test-e2e:
    timeout-minutes: 10
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: "false"
      - name: Setup env
        uses: ./.github/actions/setup-env
      - name: Setup go
        uses: ./.github/actions/setup-go
      - name: Create kind cluster
        uses: ./.github/actions/setup-cluster
        with:
          node_image: '${{ env.KIND_NODE_IMAGE }}'
      - name: Test
        run: make test-e2e
